.headingContainer3 {
    background-color: grey;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.folderButtonContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F2DD0C;
    width: 100%;
    height: 90%;
}

#currentFullName {
    position: relative;
    left: 9px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px;
}

#currentBio {
    position: relative;
    left: 45px;
    font-weight: bold;
    font-size: 23px;
}

#currentBio h5 {
    position: relative;
    top: 3px;
    right: 40px;
}

.inputPair {
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    position: relative;
    left: 53px;
}

#change12 {
    position: relative;
    bottom: 20px;
    height: 36px;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 36 px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
    border-radius: 14px;
    background-color: rgb(238, 234, 234);
}

#change13 {
    height: 36px;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 36 px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
    border-radius: 14px;
    background-color: rgb(238, 234, 234);
    position: relative;
    bottom: 24px;
}

#submit8 {
    width: 100px;
    height: 40px;
    background-color: rgb(9, 207, 9);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
}

#submit8:hover {
    cursor: pointer;
}

#submit9 {
    width: 100px;
    height: 40px;
    background-color: rgb(9, 207, 9);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
}

#submit9:hover {
    cursor: pointer;
}

h5 {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}