.searchContainer {
    margin: 36px auto;
    width: 70%;
    max-width: 800px;
} 

.inputBox {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchContainer input {
    width: 50%;
    padding: 16px;
    font-size: 36 px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
    border-radius: 14px;
    background-color: rgb(238, 234, 234);
    margin-right: 20px;
}

.searchIcon {
    position: absolute;
    top: 12px;
    right: 230px;
    font-size: 24px;
    color: #555;
}

.closeModalButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 50%;    
}

.searchContainer input.submitButton {
    position: relative;
    width: 100px;
    top: -1px;
    font-style: normal;
    background-color: rgb(55, 194, 37);
}

.searchContainer input.submitButton:hover {
    cursor: pointer;
}

